<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.hldash.app</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE__</string>
    <string>__DASHDIR__/node_modules/next/dist/bin/next</string>
    <string>start</string>
    <string>-p</string>
    <string>__PORT__</string>
  </array>
  <key>WorkingDirectory</key><string>__DASHDIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>__NODEBIN__:/usr/bin:/bin</string>
    <key>NODE_ENV</key><string>production</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__LOG__</string>
  <key>StandardErrorPath</key><string>__LOG__</string>
</dict>
</plist>
